<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Modulesgarden_Base>
            <version>1.1.0</version>
        </Modulesgarden_Base>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <modulesgarden_base>
                    <files>
                        <default>Modulesgarden_Base.csv</default>
                    </files>
                </modulesgarden_base>
            </modules>
        </translate>
        <layout>
            <updates>
                <modulesgarden_base>
                    <file>modulesgardenbase.xml</file>
                </modulesgarden_base>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <modulesgarden_base_config>
                        <class>modulesgarden_base/observer</class>
                        <method>adminhtml_block_html_before</method>
                        <type>model</type>
                    </modulesgarden_base_config>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <modulesgarden_base before="Mage_Adminhtml">Modulesgarden_Base_Adminhtml</modulesgarden_base>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <modulesgarden_base>
                <class>Modulesgarden_Base_Block</class>
            </modulesgarden_base>
        </blocks>
        <models>
            <modulesgarden_base>
                <class>Modulesgarden_Base_Model</class>
                <resourceModel>modulesgarden_base_resource</resourceModel>
            </modulesgarden_base>
            <modulesgarden_base_resource>
                <class>Modulesgarden_Base_Model_Resource</class>
                <entities>
                    <sliders>
                        <table>modulesgarden_base_sliders</table>
                    </sliders>
                    <banners>
                        <table>modulesgarden_base_banners</table>
                    </banners>
                </entities>
            </modulesgarden_base_resource>
        </models>
        <helpers>
            <modulesgarden_base>
                <class>Modulesgarden_Base_Helper</class>
            </modulesgarden_base>
        </helpers>
        <resources>
            <modulesgardenbase_setup>
                <setup>
                    <module>Modulesgarden_Base</module>
                </setup>
            </modulesgardenbase_setup>
        </resources>
    </global>
    <default>
        <modulesgarden_base>
            <notifications>
                <create_system_notification>upgrade,release,promotion,other</create_system_notification>
            </notifications>
            <cache>
                <latest_module_version>43200</latest_module_version> <!-- 12 hours -->
                <register_module_instance>43200</register_module_instance> <!-- 12 hours -->
                <available_products>3600</available_products> <!-- 1 hour -->
                <active_promotions>3600</active_promotions> <!-- 1 hour -->
            </cache>
            <urls>
                <company><![CDATA[http://modulesgarden.com]]></company>
                <store><![CDATA[https://modulesgarden.com/manage/modules/addons/ModuleInformation/server.php]]></store>
                <check><![CDATA[https://modulesgarden.com/manage/magento_base/information.php]]></check>
            </urls>
            <twitter>
                <url><![CDATA[https://twitter.com/search?q=%23Magento%20AND%20from%3A%40ModulesGarden]]></url>
                <limit>5</limit>
                <id>532534423783079936</id>
            </twitter>
        </modulesgarden_base>
    </default>
    <crontab>
        <jobs>
            <modulesgarden_base_notifications>
                <schedule>
                    <cron_expr>0 6 * * *</cron_expr><!-- 6:00 AM -->
                </schedule>
                <run>
                    <model>modulesgarden_base/observer::fetchNotifications</model>
                </run>
            </modulesgarden_base_notifications>
        </jobs>
    </crontab>
</config>
